# Environment variables declared in this file are for reference only.
# Copy this file to .env and update with your specific values.

DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/DATABASE_NAME?schema=public"

# Email configuration
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USER="tu.correo@gmail.com"
EMAIL_PASSWORD="tu-contraseña-o-app-password"
EMAIL_FROM="Stocky App <tu.correo@gmail.com>"
EMAIL_SECURE="false"
EMAIL_TLS="true"

FRONTEND_URL="http://localhost:3000"